@import "../variables.less";
.container{
    margin-top: 1rem;
    @media (min-width:961px) {
        width: 50%;
        margin: auto;
    }
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li { 
    font: 1.5em sans-serif;
    font-weight: 100;

    a {
        color: @primary-font-color;
        text-decoration: none;
    }
   
}

.weather-data{
    box-shadow: .2rem .2rem .2rem .2rem lightgray;
    height: 500px;
    border-radius: .8rem;
    margin-top: 2rem;
    background-color: white;
    display: grid;
    grid-template-rows: 1.75fr 1.25fr;
}

.observations{
    background-color: @backgroundd-color;
    margin: .3rem;
}

.forecast{
    background-color: @backgroundd-color;
    margin: .3rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}